// normalize css from in class exercise
@import 'normalize';
@import 'modal';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat|Open+Sans|Raleway');

// global variables
$siteColor: #ccc;
$textColor: rgba(0, 0, 0, 0.78);
$menuColor: rgba(0, 0, 0, 0.89);
$fontStack: 'Raleway', 'Open Sans', sans-serif;
$headingFont: 'Lato', 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
}

html body {
  font-family: $fontStack;
  h1 {
    font-family: $headingFont;
    letter-spacing: 0.6px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-family: $headingFont;
    font-size: 1rem;
  }
}

.masthead {
  display: flex;
  background-image: url(../../img/header-01.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;

  .nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    // mobile view
    @media screen and (max-width: 680px) {
      // nav bar is folded into a column
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    // desktop view
    @media screen and (min-width: 680px) {
      // nav bar unfolds into a row
      padding-top: 125px;
      flex-direction: row;
      justify-content: center;
    }

    a.menu-item {
      flex-grow: 1;
      letter-spacing: 0.8px;
      text-align: center;
      text-transform: uppercase;
      font-family: $headingFont;
      font-size: 1.25rem;
      color: $menuColor;
      text-decoration: none;

      &.active {
        text-decoration: underline;
        text-decoration-color: #9c1c1f;
      }
    }
  }

  .logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 100%;

    img {
      height: calc(100% - 3.5rem);
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .social {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 103px;
    padding-bottom: 10px;
    @media screen and (min-width: 640px) {
      flex-direction: row;
      justify-content: center;
      padding-top: 140px;
    }
    .socialIcon {
      height: 1.1rem;
      width: auto;
      margin-left: auto;
      margin-right: auto;

      @media screen and (min-width: 400px) {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
}

footer {
  display: flex;
  bottom: 0;
  justify-content: center;
  background-color: $siteColor;
  align-items: center;
  width: 100%;
  height: 40px;
  font-family: $headingFont;
  font-weight: 300;
  letter-spacing: 1.8px;
  border-top: 1px solid $textColor;
}

// min-height to keep footer stuck to bottom of screen
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 240px);
}

// index.html
.imageContainer {
  max-width: 600px;

  .heading {
    margin-left: 20px;
  }

  .landingImage {
    display: block;
    max-width: 100%;
    margin: 20px 0 20px 0;
  }
}

// portfolio.html

.imageGrid {
  max-width: 1000px;
  margin: 30px 0 30px 0;
  display: grid;
  grid-gap: 5px;
  row-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(0, 200px);

  // individual pictures in grid
  .pictureGrid {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

// about.html

.container {
  display: flex;
  max-width: 600px;
  padding: 20px 70px 20px 70px;
  @media screen and (min-width: 700px) {
    padding-left: 0;
    padding-right: 0;
  }

  // image floated so text will wrap
  .aboutImg {
    max-width: 200px;
    margin: 0px 20px 20px 0;
    float: left;
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}

// contact.html
.content {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  max-width: 700px;
  margin: 30px;

  div {
    display: flex;
  }
}

.contactImage {
  margin-right: 20px;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.contactForm {
  font-family: $fontStack;
  font-size: 1rem;
  background-color: #fff;

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid gray;
    margin: 10px;
  }

  input[type='submit'] {
    background-color: $siteColor;
    width: 7rem;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
  }

  input[type='submit']:hover {
    background-color: darken(desaturate($siteColor, 35%), 20%);
  }
}
